<div class="container h-100 align-middle">
    <div class="row mt-5">
        <div class="col-lg-12">
            <h1>Compare google search trends to cryptocurrency prices.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <h5>Cryptobuzz utilizes Google Trends and
                CryptoCompare api's to help you analyze cryptocurrency trends.</h5>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-5">
            <h5><a href="/login">Login</a> or <a href="/register">Register</a> to get started</h5>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-12">
            <h3>What are cryptocurrencies?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 px-1 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive" src="https://www.youtube.com/embed/xSomPDhOAu4" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 px-1 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive" src="https://www.youtube.com/embed/bBC-nXj3Ng4" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>